<!--
<div id="flashContent" style="display:block;text-align:left;">
  <%#= swf_tag 'Scratch', id: 'Scratch', width: '1024', height: '768', version: '27.0.0', flashvars: {debug: true},
              params: {quality: 'hight', bgcolor: '#fff', allowscriptaccess: 'sameDomain', allowfullscreen: true } do %>
  <p>You should download the latest Flash player!</p>
  <%# end %>
</div>
-->